@using Microsoft.Extensions.Localization

@{
    ViewData["Title"] = "Home Page";
}

@inject IStringLocalizer<SharedResource> localizer;

<h1 class="text-center">Home Index Sayfasının Başlığıdır</h1>
<div class="text-center">
    @localizer["Welcome"]
</div>
